DATABASE_URL="postgresql://appforge_db_user:V9ZhavT9kJGWv5E5P8rBitzAbQoUHMJC@dpg-d7o3mdgsfn5c73eehijg-a.oregon-postgres.render.com/appforge_db"
NEXTAUTH_SECRET="a3f8c2d1e4b5a6f7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
